# Pacotes do Core (Django e utilitários simples)
# Mantivemos as versões para estabilidade
asgiref==3.10.0
attrs==25.4.0
beautifulsoup4==4.14.2
blinker==1.9.0
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
coloredlogs==15.0.1
Django==5.2.7
fire==0.7.1
Flask==3.1.2
flask-cors==6.0.1
gdown==5.2.0
humanfriendly==10.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
Pygments==2.19.2
pyparsing==3.2.5
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
rich==14.2.0
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
# --- Pacotes de IA e Ciência de Dados ---
# Versões removidas para permitir que o pip resolva os conflitos
# Este é o conserto para o erro 'ResolutionImpossible'
absl-py
astunparse
cachetools
cffi
contourpy
cycler
filelock
flatbuffers
fonttools
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
jax
jaxlib
joblib
keras
kiwisolver
libclang
lz4
Markdown
matplotlib
mediapipe
ml_dtypes
mpmath
mtcnn
namex
networkx
numpy
oauthlib
onnxruntime
opencv-contrib-python
opencv-python
opt_einsum
optree
packaging
pandas
pillow
polars
polars-runtime-32
protobuf
psutil
pyasn1
pyasn1_modules
pycparser
requests-oauthlib
retina-face
rsa
scipy
sentencepiece
sounddevice
sympy
tensorboard
tensorboard-data-server
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tf_keras
torch
torchvision
tqdm
typing_extensions
ultralytics
ultralytics-thop
wrapt